* {
    font-family: Helvetica, Arial,  sans-serif;
}

#display {
    width: 300px;
    height: 300px;
    padding-top: 30px;
    border: 2px solid black;
}

ul li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}

form {
    display: inline-block;
}

form input {
    display: inline-block;
}