<!DOCTYPE html>
<html>
<head>
	<title>Layouts</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="wrapper">
		<div id="header" class="row">
			<h1>Header</h1>
			<h3>Subtitle</h3>
		</div>
		<div id="navBar" class="row">
			<ul>
				<li>Home</li>
				<li>About Us</li>
				<li>Contact Us</li>
				<li>Videos</li>
				<li>Pricing</li>
				<li>Something</li>
				<li>Something more...</li>
				<li>Something even more...</li>
			</ul>
		</div>
		<div id="columns" class="row">
			<div class="col twelve-s three-m two-l">
				<h4>Coffee Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie dui quam, ac consequat velit congue ac. Vivamus dolor risus, consequat vitae tristique id, pharetra at diam. Maecenas accumsan enim id arcu posuere faucibus. In vel tellus nec tellus ullamcorper posuere. Maecenas eget nibh at nisi ornare efficitur eget et diam.</p>
			</div>
			<div class="col twelve-s three-m two-l">
				<h4>Lorem Ipsum</h4>
				<p>Nam nec vestibulum libero, condimentum mattis lectus. Proin eleifend, urna sed efficitur consectetur, arcu est consequat velit, eget congue elit ante nec arcu. Ut eu ligula euismod, ornare turpis sit amet, ornare eros. Curabitur ac tincidunt mi, et eleifend ipsum. Ut eu nisi non ante porta porttitor. Aliquam vitae auctor arcu, ut mollis felis. Praesent ac turpis nisl.</p>
			</div>
			<div class="col twelve-s three-m two-l">
				<h4>Baby Ipsum</h4>
				<p>Nam orci sapien, tempus sit amet vestibulum sed, cursus ut velit. Quisque placerat dignissim lectus sit amet facilisis. Praesent semper sit amet odio sit amet viverra. Cras gravida, eros vitae auctor eleifend, tortor eros commodo neque, sed consequat diam mi et turpis. Aenean vel justo quis dui rutrum elementum.</p>
			</div>
			<div class="col twelve-s two-l twelve-m">
				<h4>Zombie Ipsum</h4>
				<p>Cras vulputate mattis venenatis. Nulla eu pulvinar mi. Nullam quis augue porta, maximus massa eget, scelerisque urna. Maecenas dignissim justo sed mi congue, at egestas nunc semper. Sed tincidunt lorem at justo euismod aliquam. Fusce vitae lorem urna. Maecenas viverra velit id justo luctus, non tincidunt neque consectetur.</p>
			</div>
		</div>
		
	</div>
</body>
</html>