<!DOCTYPE html>
<html>
<head>
  <title>Dojo Secrets</title>
  {% load staticfiles %}
  <!-- The line above tells Django to be ready to listen for static files -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
  <center>
    <form action="/register" class="register" method="post">
      {% csrf_token %}
      <fieldset>
        <legend>Register</legend>
        <ul>
          <li>First Name: <input type="text" name="first_name"></li>
          <li>Last Name: <input type="text" name="last_name"></li>
          <li>E-mail: <input type="text" name="email"></li>
          <li>Password: <input type="text" name="password"></li>
          <li>Confirm Password: <input type="text" name="conf_pw"></li>
          <li><input type="submit" name="register"></li>
        </ul>
      </fieldset>
    </form>

    <div class="messages">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    </div>

    <form action="/login" method="post">
      {% csrf_token %}
      <fieldset>
        <legend>Login</legend>
        <ul>
          <li>Email: <input type="text" name="email_login"></li>
          <li>Password: <input type="text" name="pw_login"></li>
          <li><input type="submit" name="login"></li>
        </ul>
      </fieldset>
    </form>

  </center>
</body>
</html>