<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets</title>
	{% load staticfiles %}
	<!-- The line above tells Django to be ready to listen for static files -->
	<link rel="stylesheet" href="{% static 'css/home.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<center>
		<form action="/register" class="register" method="post">
			{% csrf_token %}
			<fieldset>
				<legend>Register</legend>
				<ul>
					<li><label for="first_name">First Name:</label>
						<input type="text" name="first_name"></li>
					<li><label for="last_name">Last Name:</label>
						<input type="text" name="last_name"></li>
					<li><label for="email">E-mail:</label>
						<input type="text" name="email"></li>
					<li><label for="password">Password:</label>
						<input type="text" name="password"></li>
					<li><label for="conf_pw">Confirm Password:</label>
						<input type="text" name="conf_pw"></li>
					<li><input type="submit" name="register"></li>
				</ul>
			</fieldset>
		</form>

		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
						{{ message }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		<form action="/login" method="post">
			{% csrf_token %}
			<fieldset>
				<legend>Login</legend>
				<ul>
					<li><label for="email_login">Email:</label>
						<input type="text" name="email_login"></li>
					<li><label for="pw_login">Password:</label>
						<input type="text" name="pw_login"></li>
					<li><input type="submit" name="login"></li>
				</ul>
			</fieldset>
		</form>
	</center>
</body>
</html>