<!DOCTYPE html>
<html>
<head>
	<title>Secrets!</title>
	{% load staticfiles %}
	<!-- The line above tells Django to be ready to listen for static files -->
	<link rel="stylesheet" href="{% static 'css/home.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<h1>Hello, {{ request.session.first_name }}!</h1>
	{{ request.session.email }}
	<form action="{% url 'users:logout' %}">
		<input type="submit" name="logout" value="Logout">
	</form>
	
	<form action="{% url 'post:create_post' %}" method="post">
		{% csrf_token %}
		<textarea class="post_area" name="content" placeholder="Your text here..."></textarea>
		<input type="submit" name="make_post" value="Post">
	</form>
	{% for thing in all_posts %}
		<p>{{ thing.content }} {{ thing.created_at }}</p>
		<h1>{{thing.first_name}}</h1>
	{% endfor %}
	
</body>
</html>