@{
    ViewData["Title"] = "Dashboard Page";
}
<center>
    <h1>Dashboard</h1>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>User Level</th>
        </thead>
        <tbody>
            <td>1</td>
            <td>Someone</td>
            <td>email@email.com</td>
            <td>Now</td>
            <td>normal</td>
        </tbody>
    </table>
</center>