<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Index</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <center>
    <h1>Home Page</h1>
    <br>
    <form action="/send" method="post">
        Name<input type="text" name="Name"><br>
        Location<input type="text" name="Location"><br>
        Language<input type="text" name="Lang"><br>
        Comment:<input type="textarea" name="Comment">
        <input type="submit" value="Post">
    </form>
    </center>
</body>
</html>