<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Results</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <center>
    <h1>Results</h1>
    <a href="/">Home</a>
    <br>
    <h2>Name: @ViewBag.Name</h2>
    <h2>Location: @ViewBag.Location</h2>
    <h2>Language: @ViewBag.Lang</h2>
    <h2>Comment: @ViewBag.Comment</h2>
    </center>
</body>
</html>