* { box-sizing: border-box; }

#wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.row {
	padding-left: 20px;
	clear: both;
}

.content { padding: 20px; }

.column {
	float: left;
	padding-right: 20px;
}

#main-content { background-color: #D8D8DC; }

#sidebar { background-color: #828284; }

@media only screen and (max-width: 480px) {
	.twelve-s { width: 100%; }
}

@media only screen and (min-width: 481px) {
	.eight-m { width: 66.66666666%; }
	.seven-m { width: 58.33333333%; }
	.five-m { width: 41.66666666%; }
	.four-m { width: 33.33333333%; }
}

@media only screen and (min-width: 1024px) {
	.eight-l { width: 66.66666666%; }
	.four-l { width: 33.33333333%; }
}


