<!DOCTYPE html>
<html>
<head>
	<title>Full Friends</title>
	<style type="text/css">
		* {
			font-family: sans-serif;
		}
	</style>
</head>
<body>
	<center>
		<h1>
			Full Friends!
		</h1>
		{% for friend in friends %}
			<p>ID: {{ friend['id'] }}</p>
			<p>First Name: {{ friend['first_name'] }}</p>
			<p>Last Name: {{ friend['last_name'] }}</p>
			<p>Age: {{ friend['age'] }}</p>
			<hr>
		{% endfor %}
		<form action="/friends" method="post">
			First Name: <input type="text" name="first_name">
			Last Name: <input type="text" name="last_name">
			Age: <input type="number" name="age">
			<br>
			<input type="submit" name="submit">
		</form>
	</center>
</body>
</html>