<!DOCTYPE html>
<html>
<head>
	<title>Full Stack Books</title>
</head>
<body>
	<table>
		<tr>
			<th>id</th>
			<th>Title</th>
			<th>Author</th>
			<th>Category</th>
		</tr>
		{% for thing in bookie %}
		<tr>
			<td>{{thing.id}}</td>
			<td>{{thing.title}}</th>
			<td>{{thing.author}}</td>
			<td>{{thing.category}}</td>
		</tr>
		{% endfor %}
	</table>

	<form action="/show" method="post">
		{% csrf_token %}
		<label for="title">Title:</label>
			<input type="type" name="title">
		<label for="author">Author:</label>
			<input type="type" name="author">
		<label for="category">Category</label>
			<select name="category">
				<option value="Adventure">Adventure</option>
				<option value="Suspense">Suspense</option>
				<option value="Romance">Romance</option>
				<option value="Comedy">Comedy</option>
			</select>
		<input type="submit" name="submit">
	</form>

</body>
</html>